{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% comment %} bootstrap {% endcomment %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        {% comment %} local css {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
       
    </head>
    <body>
        <header class="header sticky-top">
            <div class="header-container d-flex">
                <nav class="header-nav pt-4">
                    <ul  class="header-list d-flex">
                        <li>
                            <a href="/" class="nav-a m-3">Home</a>
                        </li>
                        <li>
                            <a href="#" class="nav-a m-3">Shop</a>
                        </li>
                    </ul>
                </nav>
                 <div class="header-logo">
                    <a href="/"><img src="{% static 'img/Picsart_25.png' %}" alt="" class="elit-logo"></a> 
                </div>  
                <div class="header-profile pt-2">
                    <a href="{% url 'cart:cart_detail' %}"><img src="{% static 'img/cart_online.png' %}" alt="" class="grob"></a>
                    <a href="#" class="m-2">LOGIN</a>
                        {% comment %} {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="m-2">LOGOUT</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="m-2">LOGIN</a>
                        {% endif %} {% endcomment %}
                    {% comment %} иконка что будет вести в корзину {% endcomment %}
                    <p class="cart-quantity">
                        {% with cart_quantity=cart|length %}
                            {% if cart_quantity > 0 %}
                                {{ cart_quantity }}
                            {% else %}
                                0 {% comment %} 0 если товара нет {% endcomment %}
                            {% endif %}
                        {% endwith %}
                    </p>
                </div>    
            </div>
        </header>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        {% comment %} <img src="{% static 'img/frame2.png' %}" alt="" class="frame2"> {% endcomment %}
       {% comment %} <footer class="footer d-flex justify-content-center align-items-center">
            <p class="footer-text">© 2025 Elit. All rights reserved.</p> {% endcomment %}
        {% comment %} js for bootstrap {% endcomment %}
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>

{% comment %} main –> src src/assets/css, img  {% endcomment %}